* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

*::after, *::before, * {
  box-sizing: border-box;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
}

.container {
  width: 88%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  background-color: #fff;
}
.header__container {
  padding-top: 25px;
  padding-bottom: 17px;
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.5019607843);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__list {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header__cancel-btn {
  display: none;
}
.header__cancel-btn button {
  border: none;
  background-color: transparent;
}
.header__cancel-btn button img {
  width: 30px;
  height: 30px;
}
.header__link {
  color: #3d3d3d;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.11px;
  padding: 6px 12px;
  position: relative;
  transition: 0.4s ease;
}
.header__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #46A358;
  transition: 0.4s ease;
}
.header__link:hover {
  color: #fff;
  transition-delay: 0.4s;
}
.header__link:hover::before {
  width: 100%;
}
.header__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #46A358;
  transition: 0.4s ease;
  z-index: -1;
}
.header__link:hover::after {
  height: 100%;
  transition-delay: 0.4s;
}
.header__btns {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__search-input {
  outline: none;
  border: 1px solid #46A358;
  padding: 6px 8px;
  border-radius: 6px;
  background: url(../../images/search.svg) no-repeat;
  background-size: 15px 15px;
  background-position: 165px;
}
.header__hide-btns {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__korzina-btn {
  border: none;
  background-color: transparent;
}
.header__login-btn, .header__login-btns {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 17px;
  border: 1px solid #46A358;
  border-radius: 6px;
  background-color: #46A358;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.11px;
}
.header__hamburger-btn {
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 5px;
  display: none;
}
.header__hamburger-btn span {
  width: 25px;
  height: 3px;
  background-color: #46A358;
  border-radius: 6px;
}
.header__show-btns {
  display: none;
}

@media (max-width: 966px) {
  .header__list {
    gap: 10px;
  }
}
@media (max-width: 1020px) {
  .header__container {
    justify-content: none;
  }
  .header__hamburger-btn {
    display: flex;
  }
  .header__list {
    background-color: #fff;
    position: fixed;
    flex-direction: column;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    box-shadow: 0 0 2px 0.5px gray;
    padding-top: 50px;
    gap: 50px;
    transition: all 0.4s ease-in-out;
  }
  .header__cancel-btn {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
.show-list {
  left: 0;
}

@media (max-width: 700px) {
  .header__show-btns {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .header__hide-btns {
    display: none;
  }
}
.hero {
  padding-top: 120px;
  padding-bottom: 20px;
}
.hero__container {
  padding-left: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
}
.hero__text {
  margin-bottom: 7px;
  color: #3d3d3d;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.1em;
}
.hero__title {
  max-width: 530px;
  margin-bottom: 5px;
  color: #3d3d3d;
  font-size: 70px;
  font-weight: 900;
  line-height: 70px;
}
.hero__title span {
  color: #46A358;
}
.hero__desc {
  max-width: 557px;
  margin-bottom: 44px;
  color: #727272;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.hero__btn {
  border: 1px solid #46A358;
  background-color: #46A358;
  border-radius: 6px;
  padding: 10px 26px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
.hero__right img {
  width: 100%;
}

@media (max-width: 1222px) {
  .hero__title {
    font-size: 60px;
  }
}
@media (max-width: 1130px) {
  .hero__title {
    font-size: 50px;
  }
  .hero__desc {
    font-size: 12px;
    line-height: 20px;
  }
}
@media (max-width: 1047px) {
  .hero__title {
    font-size: 40px;
    line-height: 50px;
  }
  .hero__container {
    gap: 40px;
  }
  .hero__right, .hero__left {
    width: 50%;
  }
}
@media (max-width: 900px) {
  .hero__title {
    font-size: 35px;
  }
}
@media (max-width: 800px) {
  .hero__container {
    flex-direction: column-reverse;
  }
  .hero__right, .hero__left {
    width: 80%;
  }
  .hero__left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero__text, .hero__title, .hero__desc {
    text-align: center;
  }
}
.Cards {
  padding: 40px 0;
}
.Cards__categories {
  display: flex;
  align-items: center;
  gap: 15px;
  overflow: auto;
  text-wrap: nowrap;
  scrollbar-width: none;
  margin-bottom: 20px;
}
.Cards__categories__item {
  border: 1px solid gray;
  border-radius: 6px;
  padding: 8px 16px;
  background-color: gray;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.cards__more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.cards__more-btn button {
  border: 1px solid blue;
  background-color: blue;
  padding: 8px 14px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.cards__more-btn button:hover {
  background-color: transparent;
  color: blue;
}
.cards__more-btn button:disabled {
  cursor: no-drop;
}
.cards__more-btn button:disabled:hover {
  background-color: transparent;
}

.card {
  background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
  display: flex;
  flex-direction: column;
}
.card__img {
  width: 100%;
  flex-grow: 1;
  padding: 20px;
}
.card__img img {
  width: 100%;
  height: 270px;
}
.card__info {
  padding: 20px 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card__title {
  color: #3d3d3d;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}
.card__text {
  color: #46A358;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
}

.loading {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-bottom: 10px;
}
.loading__card {
  position: relative;
  border: 1px solid #EAEAEA;
  display: flex;
  flex-direction: column;
}
.loading__img {
  flex-grow: 1;
  width: 100%;
  padding: 50px;
  background: linear-gradient(90deg, #ddd, #ddd, #eee, #ddd);
  background-size: 200%;
  height: 270px;
  animation: loading 1s linear 0s infinite;
}
.loading__title {
  margin-top: 10px;
  height: 20px;
  width: 80%;
  background: linear-gradient(90deg, #ddd, #ddd, #eee, #ddd);
  margin-bottom: 10px;
}
.loading__title:last-child {
  width: 60%;
}

@keyframes loading {
  to {
    background-position: 200%;
  }
}
@media (max-width: 1100px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 850px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 550px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.498);
  display: none;
}

.modal {
  display: flex;
  align-items: center;
}

.login {
  border-radius: 2px;
  border-bottom: 10px solid #46A358;
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 100px;
  transition: all 0.5s ease-in-out;
  display: none;
}
.login__desc {
  margin-bottom: 14px;
  color: #3d3d3d;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.login__forgot {
  color: #46A358;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 27px;
}
.login__btn {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #46A358;
  padding: 15px 0;
  background-color: #46A358;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-hover-btn,
.register-hover-btn {
  color: #3d3d3d;
  font-size: 20px;
  font-weight: 600;
  line-height: 16px;
  margin-bottom: 53px;
  border: none;
  background-color: transparent;
}

.login-hover-btn {
  color: #46A358;
}

input {
  color: #a5a5a5;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding: 12px 14px;
  width: 100%;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  outline: none;
}

.input__username {
  margin-bottom: 17px;
}

.input__password {
  margin-bottom: 14px;
}

.cancel-box {
  position: absolute;
  top: 5px;
  right: 5px;
}

.login-cancel-btn,
.register-cancel-btn {
  border: none;
  background-color: transparent;
}
.login-cancel-btn img,
.register-cancel-btn img {
  width: 25px;
  height: 25px;
}

.register {
  border-radius: 2px;
  border-bottom: 10px solid #46A358;
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%) translateX(500px) scale(0);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 100px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.input__email {
  margin-bottom: 14px;
}

.login__forgot {
  margin-bottom: 20px;
}

.login-btn {
  color: #3d3d3d;
}

.register-btn {
  color: #46A358;
}

.show-register {
  overflow: visible;
  transform: translate(-50%, -50%) translateX(0) scale(1);
}

.hide-login {
  overflow: hidden;
  transform: translate(-50%, -50%) translateX(-500px) scale(0);
}

.account {
  padding-top: 120px;
  padding-bottom: 50px;
}

.admin__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.admin__form__item {
  margin-bottom: 20px;
}

.title {
  color: #3d3d3d;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 20px;
  text-align: center;
}

label {
  padding-bottom: 10px;
  color: #3d3d3d;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
}

.product {
  padding: 100px 0;
}
.product__container {
  display: flex;
  align-items: center;
  gap: 100px;
}
.product__img {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.product__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.product__img-bottom {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}
.product__img-bottom img {
  width: 20%;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}
.product__title {
  color: #161C24;
  font-size: 44px;
  font-weight: 600;
  line-height: 62px;
  margin-bottom: 20px;
}
.product__desc {
  color: #454F5B;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 32px;
}
.product__bottom {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product__bottom p {
  color: #454F5B;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
}
.product__price {
  color: #161C24;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.64px;
  margin-right: 12px;
}
.product__old-price {
  color: #a4a4a4;
  font-size: 22px;
  font-weight: 300;
  line-height: 26.25px;
  text-decoration: line-through;
}
.product__btn {
  padding: 12px 63px;
  border: 1px solid #4295E4;
  background-color: #4295E4;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

@media (max-width: 980px) {
  .product__container {
    flex-direction: column;
    gap: 30px;
  }
}
.footer {
  padding-top: 50px;
}
.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 23px;
  background: rgba(70, 163, 88, 0.1019607843);
  flex-wrap: wrap;
  gap: 30px;
}
.footer__top-desc {
  color: #3d3d3d;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.footer__address, .footer__email, .footer__phone {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  background: #FBFBFB;
  padding: 32px 23px;
}
.footer__column-title {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__item {
  color: #3d3d3d;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
.footer__links__title {
  margin-bottom: 20px;
}
.footer__links__icons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 33px;
}
.footer__links__icon {
  padding: 1px;
  border: 1px solid rgba(70, 163, 88, 0.2);
}
.footer__desc {
  text-align: center;
  color: #3d3d3d;
  padding: 7px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}